@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    width: auto;
    height: auto;
}

.bakery{
    width: auto;
    height: auto;
    min-height: 400vh;
    background: white;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 227, 220);
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.navbar a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    align-items: center;
}

a.name{
    font-family: 'Purple Purse', serif;
    color: rgb(52, 22, 1);
    font-weight: 900;
    font-size: 24px;
    padding: 20px 40px 20px 90px;
}

.about{
    display: flex;
    flex-direction: row;
    padding: 0 40px;
    gap: 40px;
}
.about a{
    font-size: 17px;
    font-weight: 500;
}

.plus{
    color: red;
    padding-left: 5px;
}

.shopicon{
    position: relative;
}

i.fa-shopping-bag{
    background-color: rgb(244, 225, 17);
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 80px;
    font-size: 17px;
    position: relative;
}

.reddot{
    position: absolute;
    background-color: red;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    top: 80px;
    right: 80px;
}

.heading{
    font-family: 'Purple Purse', serif;
    color: rgb(52, 22, 1);
    font-weight: 900;
    font-size: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.head-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 500px;
    margin-top: 20px;
}

.content-left{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 20px;
    height: auto;
    width: auto;
    padding-left: 140px;
    align-items: center;
}

.text-1{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: rgb(52, 22, 1);
}

.content-text{
    margin-bottom: 30px;
}

.content-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-button{
    font-family: 'Purple Purse', serif;
    font-weight: 900;
    font-size: 15px;
    color: rgb(52, 22, 1);
    height: 40px;
    width: 125px;
    background-color: rgb(244, 225, 17);
    border: 1.8px solid;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.videolink{
    font-family: 'Purple Purse', serif;
    font-weight: 900;
    font-size: 17px;
    color: rgb(52, 22, 1);
    margin-left: 20px;
    margin-right: 2px;
}

i.material-symbols-outlined{
    margin-left: 3px;
    font-size: 22px;
    font-weight: 900;
    vertical-align: -30%;
    cursor: pointer;
}

.content-image{
    overflow: hidden;
    align-items: center;
    flex-basis: 100%;
}

.content-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 49px;
}

.content-left-2{
    margin-top: 100px;
}

.text-2{
    font-family: 'Purple Purse', serif;
    font-size: 30px;
    font-weight: 900;
    color: rgb(52, 22, 1);
}

.content-right{
    font-family: 'Purple Purse', serif;
    font-weight: 900;
    color: rgb(52, 22, 1);
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    height: auto;
    width: auto;
    padding-right: 140px;
    align-items: center;
    gap: 14px;
}

.taghead{
    margin-bottom: 20px; 
    font-size: 25px;
}

p.tagtext{
    margin-top: 10px;
}

.tag {
    height: 50px;
    width: 170px;
    color: white;
    border: 1.8px solid rgb(52, 22, 1);
    border-radius: 25px;
    text-align: center;
}

.tag1{
    background-color: rgb(208, 166, 244);
    font-size: 21px ;
    transform: rotate(5deg);
}

.tag2{
    background-color: rgb(233, 118, 35);
    font-size: 21px ;
    transform: rotate(19deg);
}

.tag3{
    width: 150px;
    background-color: rgb(8, 107, 21);
    font-size: 21px ;
    transform: rotate(-16deg);
    z-index: 2;
}

.tag4{
    margin-top: 15px ;
    margin-left: -10px;
    width: 200px;
    background-color: rgb(13, 157, 235);
    font-size: 21px;
    transform: rotate(19deg);
    z-index: 1;
}

.adv-bar{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: auto;
    background-color: rgb(52, 22, 1);
    background-size: cover;
    margin-top: 62px;
    margin-left: -5px;
    margin-right: -5px;
    transform: rotate(-4deg);
    color: white;
    font-size: 28px ;
    font-family: 'Purple Purse', serif;
    font-weight: 900;
    align-items: center;
    justify-content: space-around;
}

span.sparkle{
    margin-left:35px;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top:120px;
    padding-right: 140px;
    padding-left: 140px;
    height: 900px;
}

.producthead{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-title{
    font-family: 'Purple Purse', serif;
    color: rgb(52, 22, 1);
    font-weight:900;
    font-size: 55px;
    display: flex;
    flex-direction: column;
}

.product-wrap{
    display: flex;
    margin-top: 20px;
}

.product-videolink{
    font-family: 'Purple Purse', serif;
    font-weight: 900;
    font-size: 24px;
    color: rgb(52, 22, 1);
    margin-top: 30px;
}

.product-wrap i.material-symbols-outlined{
    font-size: 35px;
    vertical-align: -20%;
    cursor: pointer;
}

.product-content{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 30px;
    align-items: center;
}

.product-review{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 40px;
}

.product-image{
    flex-basis: 100%;
    overflow: hidden;
    align-items: center;
    height: 100%;
}

.product-image img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 49px;
}

.review-overview{
    display: flex;
    flex-direction: column;
}
.product-rating{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.rating{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.rating-text{
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    color: rgb(52, 22, 1);
}

.rating-number{
    font-family: 'Purple Purse', serif;
    font-size: 45px;
    color: rgb(52, 22, 1);
}

.review-count{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: rgb(52, 22, 1);
}

.checked {
    color: orange;
}


.product-video{
   display: inline-block;
   position: relative;
}

.product-video img{
    object-fit: contain;
    border-radius: 49px;
    filter: blur(3px);
}

.playicon{
    position: absolute;
    top: 37%;
    left: 45%;
    color: rgb(190, 187, 187);
    font-size: 90px;
    cursor: pointer;
}

.bestseller{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 70px;
    padding-right: 140px;
    padding-left: 140px;
    height: 830px;
    background-color: rgb(237, 237, 237);
}

.bestseller-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bestseller-heading{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 800px;
}

.bestseller-text{
    font-family: 'Purple Purse', serif;
    color: rgb(52, 22, 1);
    font-weight:900;
    font-size: 55px;
}

.bestseller-content{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: rgb(52, 22, 1);
}

.bestseller-swiper{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 65px;
    padding-top: 70px;
}

.swiper span.material-symbols-outlined{
    font-size: 70px;
    cursor: pointer;
}

.bestseller-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 55px;
}

.bs-container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    gap: 25px;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 30px;
    cursor: pointer;
}

.bs-product-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bs-product-name{
    font-family: 'Purple Purse', serif;
    color: rgb(52, 22, 1);
    font-weight:900;
    font-size: 25px;
}

.bs-product-price{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgb(52, 22, 1);
}

.bs-container img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 49px;
    aspect-ratio: 1/1;
}

.testimonial{
    background-image: url("../Images/backgroung.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    margin: 100px 140px;
    border-radius: 50px;
    box-shadow: 2px 2px 5px rgb(118, 118, 118);
}


.testimonial-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content:space-evenly;
    padding: 30px;
}

.user-image{
    width: 100px;
    height: 100px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-heading{
    font-family: 'Purple Purse', serif;
    color: rgb(255, 255, 255);
    font-weight:900;
    font-size: 50px;
    margin-bottom: 30px;
}
.rating-test{
    margin-bottom: 30px;
}

.t-checked {
    color: rgb(255, 208, 0);
}

.testimonial-text{
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 0 60px;
    margin-bottom: 30px;
}

.whiteswipe{
    color: white;
    padding: 0px
}

.cover{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 40px 140px;
    justify-content: space-between;
}

.cover-1{
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 40px;
}

.cover-2{
    display: flex;
    flex-direction: column;
    flex: 50%;
    height: auto;
    justify-content: space-between;
    gap: 40px;
}

.cover-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

.cover-image-1 img{
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 49px;
}

.cover-image-2 img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;
    border-radius: 49px;
}

.cover-text{
    font-family: 'Purple Purse', serif;
    color: rgb(52, 22, 1);
    font-weight:900;
    font-size: 65px;
    padding: 20px 0;
}

.comment{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 40px;
}

.comment p{
    font-family: 'Purple Purse', serif;
    color: rgb(52, 22, 1);
    font-weight:900;
    font-size: 25px;
    width: 90%;
    margin-top: 10px;
    padding-bottom: 10px;
}

.comment-name{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.footer{
    height: auto;
    background-color: black;
    color: white;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.social-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.name{
    font-family: 'Purple Purse', serif;
    font-size: 30px;
    text-decoration: none;
    color: white;
    padding: 20px 140px;
}

.icon{
    padding: 25px 140px;
    display: inline-flex;
    align-items: center;
    gap: 30px;
}

.fa-instagram, .fa-google, .fa-linkedin, .fa-youtube{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 10px;
}

.longbar{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.adv-bar-1{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: auto;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    border: 2px solid rgb(241, 241, 51);
    margin-top: 140px;
    margin-left: -5px;
    margin-right: -5px;
    transform: rotate(4deg);
    color: white;
    font-size: 26px ;
    font-family: 'Purple Purse', serif;
    font-weight: 900;
    align-items: center;
    justify-content: space-around;
}

.adv-bar-2{
    display: flex;
    flex-direction: row;
    height: 80px;
    width: auto;
    background-color: rgb(236, 236, 57);
    background-size: cover;
    margin-top: -80px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 40px;
    transform: rotate(-6deg);
    color: rgb(0, 0, 0);
    font-size: 26px ;
    font-family: 'Purple Purse', serif;
    font-weight: 900;
    align-items: center;
    justify-content: space-around;
}

.ad-tags{
    display: inline-flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 70px 0;
}

.ad-tag1{
    background-color: rgb(208, 166, 244);
    font-size: 20px ;
    font-family: 'Purple Purse', serif;
}

.ad-tag2{
    background-color: rgb(233, 118, 35);
    font-size: 20px ;
    font-family: 'Purple Purse', serif;
}

.ad-tag3{
    background-color: rgb(8, 107, 21);
    font-size: 20px ;
    font-family: 'Purple Purse', serif;
}

.ad-tag4{
    background-color: rgb(13, 157, 235);
    font-size: 20px ;
    font-family: 'Purple Purse', serif;
}

.copy-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0 140px;
}

.copy-right-sec, .mail{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
}

.designer{
    text-decoration: none;
    color: yellow;
}